/*___________________________________________________
General Styles
___________________________________________________*/
body {
  background-color: #000;
  color: #00c5ff;
}

h1 {
  font-size: 3rem;
  margin-top: 70px;
  margin-bottom: 10px;
  color: #ffbf00;
}

h2 {
  margin-top: 30px;
  color: #eb8c00; /* Dark Gold */
}

h3 {
  margin-top: 30px;
  color: #00ff88; /* GREEN */
  /* color: #ff5f5f; RED*/
}

h4 {
  text-decoration: underline;
}

/*___________________________________________________
Customizations
___________________________________________________*/
.standout {
  font-weight: bolder;
  font-size: 1.2rem;
}

.bg-shade {
  background-color: #1d1d1d;
  padding: 1.5rem 0;
}

.margin-top {
  margin-top: 30px;
}

.code-css {
  color: yellow;
}

.toc {
  box-shadow: inset 0 0 9px 5px #fff;
  background-color: #191919;
  padding: 50px;
  margin-top: 50px;
}

.text-center {
  text-align: center;
}


/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important, .alert-note, .alert-tip, .alert-warning {
	position: relative;
  padding: 15px;
  /* border: 1px solid #DCDCDC; */
  border: 1px solid #ff0000;
  height: auto;
  min-height: 90px;
  display: table;
  margin: 15px 0 15px 0;
  /* background-color: #a0e1cd; */
}

/* vertical divider between icon and text */
.alert-content {
  margin-left: 80px;
  line-height: 22px;
  font-size: 95%;
  padding-left: 20px;
  /* border-left: 1px solid #DCDCDC; */
  border-left: 1px solid #ff0000;
  display: table-cell;
  vertical-align: middle;
  /* color: #000; */
  color: #fff;
}

.alert-content ul, .alert-content ol {
  margin-bottom: 0;
}

.alert-content li {
  padding: 0;
}

.alert-icon {
  display: table-cell;
  width: 8%;
  min-width: 75px;
  vertical-align: middle;
}

/*___________________________________________________
Colors
___________________________________________________*/
.red {
  color: red;
}


/*___________________________________________________
Examples
___________________________________________________*/
.example {
  background-color: #000;
  color: #ffbf00;
  padding: 5px;
  box-shadow: 0 0 4px 2px #1f1f1f;
}

.ex-highlight {
  border: 2px solid #00ff88;
  color: #fff;
  margin-bottom: 40px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px */
}

.bg-highlight {
  color: #fff;
}

/* Highlight the border in column examples more clearly */
.col-border-highlight {
  border: 1px solid red;
}

.ex-vertical-row-alignment {
  height: 80px;
}
