<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>The Bootstrap Grid</title>
</head>

<body>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-container">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="../index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Buttons</li>
      </ol>
  </nav>

<a href="https://getbootstrap.com/docs/4.0/components/buttons/">Bootstrap Buttons</a>

    <section class="container">



    </section>










    <script src="../js/jquery.js"></script>
    <!-- bundle.js contains popper, but not jquery -->
    <script src="../js/bundle.js"></script>
</body>

</html>
