<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../_css/style.css">
    <title>Card Sizing and Text alignment</title>
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-container">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="../index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cards</li>
        </ol>
    </nav>




    <section class="container">
        <h1>Sizing</h1>
        <div class="row">
            <div class="col">
                <p>Cards have no default width, so they'll take up 100% of the container.</p>
                <p>You can change the size using:</p>
                <ul>
                    <li>custom CSS</li>
                    <li>grid classes</li>
                    <li>grid Sass mixins</li>
                    <li>utilities</li>
                </ul>
            </div>
        </div>
    </section>





    <section class="container">
        <h2>Using 'Grid Markup'</h2>
        <div class="row">
            <div class="col-6">
                <p>Simply place the Card within a column of your specified size. It will take up the full width of that column.</p>
            </div>


            <div class="col-6">
                <pre class="example">&lt;div class="row"&gt;
  &lt;div class="col-sm-6"&gt;
    &lt;div class="card"&gt;
      &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
        &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
        &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="col-sm-6"&gt;
    &lt;div class="card"&gt;
      &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
        &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
        &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>







    <section class="container">
        <h2>Using 'Utilities'</h2>
        <div class="row">
            <div class="col-6">
                <p><a href="https://getbootstrap.com/docs/4.0/utilities/sizing/">Utilities</a> allow you to customize the size of the card.</p>
                <p>For example: class="card w-75"</p>
            </div>


            <div class="col-6">
                <pre class="example"><span class="standout">&lt;div class="card w-75"&gt;</span>
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;a href="#" class="btn btn-primary"&gt;Button&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;

<span class="standout">&lt;div class="card w-50"&gt</span>;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;a href="#" class="btn btn-primary"&gt;Button&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </section>







    <section class="container">
        <h2>Using Custom CSS</h2>
        <div class="row">
            <div class="col-6">
                <p>Use custom CSS in your stylesheets or as inline styles to set a width.</p>
            </div>


            <div class="col-6">
                <pre class="example">&lt;div class="card" <span class="standout">style="width: 18rem;"</span>&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
    &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>




    <section class="container">
        <h1>Text alignment</h1>
        <div class="row">
            <div class="col-6">
                <p>Use <a href="https://getbootstrap.com/docs/4.0/utilities/text/#text-alignment">Text alignment classes</a> to change the text alignment.</p>
            </div>

            <div class="col-6">
                <pre class="example">&lt;div class="card <span class="standout">text-center"</span> style="width: 18rem;"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
    &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="card <span class="standout">text-right"</span> style="width: 18rem;"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
    &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card text-right" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>










    <section class="container">
        <h1>Body Border and Text color</h1>
        <div class="row">
            <div class="col-6">
                <p>Use <a href="https://getbootstrap.com/docs/4.0/utilities/borders/">Border utilities</a> to change the border of a card.</p>
                <p>You can put .text-{color} classes on the parent .card or a subset of the card’s content.</p>
            </div>

            <div class="col-6">
                <pre class="example">&lt;div class="card <span class="standout">border-primary</span> mb-3" style="max-width: 18rem;"&gt;
  &lt;div class="card-header"&gt;Header&lt;/div&gt;
  &lt;div class="card-body <span class="standout">text-primary</span>"&gt;
    &lt;h5 class="card-title"&gt;Primary card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card text-right" style="width: 18rem;">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
    </section>






    <section class="container">
        <h1>Header and Footer Borders</h1>
        <div class="row">
            <div class="col-6">
                <p>Use <a href="https://getbootstrap.com/docs/4.0/utilities/borders/">Border utilities</a> to change the border of a card.</p>
                <p>You can put .text-{color} classes on the parent .card or a subset of the card’s content.</p>
            </div>

            <div class="col-6">
                <pre class="example">&lt;div class="card border-success mb-3" style="max-width: 18rem;"&gt;
  &lt;div class="card-header <span class="standout">bg-transparent border-success</span>"&gt;Header&lt;/div&gt;
  &lt;div class="card-body text-success"&gt;
    &lt;h5 class="card-title"&gt;Success card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="card-footer <span class="standout">bg-transparent border-success</span>"&gt;Footer&lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Header</div>
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
    </section>









    <section class="container">
        <h1>Layout</h1>
        <div class="row">
            <div class="col">
                <p>Bootstrap includes three options for laying out series of cards. For the time being, these layout options are not yet responsive.</p>
                <ul>
                    <li>Groups</li>
                    <li>Decks</li>
                    <li>Columns</li>
                </ul>
            </div>
    </section>



    <section class="container">
        <h2>Groups</h2>
        <div class="row">
            <div class="col-6">
                <p>Use card groups to render cards as a single, attached element with equal width and height columns. Card groups use display: flex; to achieve their uniform sizing.</p>
                <p>To achieve this, put all the cards in a container with a class of .card-group.</p>
                <p>When using card groups with footers, their content will automatically line up.</p>
            </div>
            <div class="col-6">
                <pre class="example"><span class="standout">&lt;div class="card-group"&gt;</span>
  &lt;div class="card"&gt;
    &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="card-footer"&gt;
      &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="card"&gt;
    &lt;img class="card-img-top" src=".." alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="card-footer"&gt;
      &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="card"&gt;
    &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="card-footer"&gt;
      &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

                </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../img/card-groups.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/card-groups.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/card-groups.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    </section>












    <section class="container">
        <h2>Decks</h2>
        <div class="row">
            <div class="col-6">
                <p>Decks set an equal width and height for cards that aren’t attached to one another.</p>
                <p>Put all cards in a container with a class of .card-deck.</p>
                <p>When using card decks with footers, their content will automatically line up.</p>
            </div>
            <div class="col-6">
                <pre class="example"><span class="standout">&lt;div class="card-deck"&gt;</span>
&lt;div class="card"&gt;
  &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="card-footer"&gt;
    &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="card"&gt;
  &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="card-footer"&gt;
    &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="card"&gt;
  &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
    &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="card-footer"&gt;
    &lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</pre>

                </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../img/card-decks.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="../img/card-decks.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="../img/card-decks.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    </section>









    <section class="container">
        <h2>Columns</h2>
        <div class="row">
            <div class="col-5">
                <p>Cards can be organized into <a href="https://masonry.desandro.com/">Masonry-like columns</a> by wrapping them in .card-columns.</p>
                <p>Cards are built with CSS column properties instead of flexbox for easier alignment. Cards are ordered from top to bottom and left to right.</p>
                <p>NOTE: Heads up! Your mileage with card columns may vary. To prevent cards breaking across columns, we must set them to <span class="red">display: inline-block</span> as column-break-inside: avoid isn’t a bulletproof solution yet. <span class="yellow">Need to find an example of this.</span></p>
            </div>
            <div class="col-7">
<pre class="example">&lt;div <span class="standout">class="card-columns</span>"&gt;
  &lt;div class="card"&gt;
    &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title that wraps to a new line&lt;/h5&gt;
      &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card p-3"&gt;
    &lt;blockquote class="blockquote mb-0 card-body"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
      &lt;footer class="blockquote-footer"&gt;
        &lt;small class="text-muted"&gt;
          Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;
        &lt;/small&gt;
      &lt;/footer&gt;
    &lt;/blockquote&gt;
  &lt;/div&gt;
  &lt;div class="card"&gt;
    &lt;img class="card-img-top" src="..." alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
      &lt;p class="card-text"&gt;&lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card bg-primary text-white text-center p-3"&gt;
    &lt;blockquote class="blockquote mb-0"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.&lt;/p&gt;
      &lt;footer class="blockquote-footer"&gt;
        &lt;small&gt;
          Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;
        &lt;/small&gt;
      &lt;/footer&gt;
    &lt;/blockquote&gt;
  &lt;/div&gt;
  &lt;div class="card text-center"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
      &lt;p class="card-text"&gt;&lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card"&gt;
    &lt;img class="card-img" src="..." alt="Card image"&gt;
  &lt;/div&gt;
  &lt;div class="card p-3 text-right"&gt;
    &lt;blockquote class="blockquote mb-0"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
      &lt;footer class="blockquote-footer"&gt;
        &lt;small class="text-muted"&gt;
          Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;
        &lt;/small&gt;
      &lt;/footer&gt;
    &lt;/blockquote&gt;
  &lt;/div&gt;
  &lt;div class="card"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
      &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
      &lt;p class="card-text"&gt;&lt;small class="text-muted"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

                </div>
        </div>
    </section>

    <section class="container">
        <h3>Example</h3>
        <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="..." alt="Card image">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
    </section>







    <section class="container">
        <h2>Columns</h2>
        <div class="row">
            <div class="col-5">
                <p>Card columns can also be extended and customized with some additional code. Shown below is an extension of the .card-columns class using the same CSS we use—CSS columns— to generate a set of responsive tiers for changing the number of columns.</p>
                <p><span class="yellow">Need an example of this</span></p>
            </div>
            <div class="col-7">
  <pre class="example">.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}</pre></div>
        </div>
    </section>



    <script src="../js/jquery.js"></script>
    <!-- bundle.js contains popper, but not jquery -->
    <script src="../js/bootstrap.bundle.js"></script>
</body>

</html>
