<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Form Validation</title>
</head>

<body>
    <a href="../index.html">Back to homepage</a>
    <div class="container">




        <section class="container">
            <h1>Validation</h1>
            <div class="row">
                <div class="col-6">
                    <p>Add 'disabled' attribute to the &lt;input&gt; tag.</p>
                    <p>This will change the text to a lighter shade and disable the checkbox.</p>

                </div>
                <div class="col-6">
                    <pre class="example">&lt;div class="form-check"&gt;
  &lt;input class="form-check-input" type="checkbox" value="" id="defaultCheck2" <span class="standout">disabled</span>&gt;
  &lt;label class="form-check-label" for="defaultCheck2"&gt;
    Disabled checkbox
  &lt;/label&gt;
&lt;/div&gt;</pre></div>
            </div>
        </section>


        <section class="container">
            <h3>Example</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
            </div>
        </section>






    </div>
    <!--Close container-->
    <script src="../js/jquery.js"></script>
    <!-- bundle.js contains popper, but not jquery -->
    <script src="../js/bootstrap.bundle.js"></script>
</body>

</html>
