<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Images</title>
</head>

<body>
  <a href="../index.html">Back to homepage</a>
    <div class="container">

        <h1>Basic image classes</h1>
        <ul>
            <li><strong>.img-fluid</strong> - This creates responsive images.</li>
            <li><strong>.rounded</strong> - Adds a rounded edge to an image. You can also specify which side of the image should be rounded.
                <ul>
                    <li>.rounded-top</li>
                    <li>.rounded-right</li>
                    <li>.rounded-bottom</li>
                    <li>.rounded-left</li>
                    <li>.rounded-circle - make an oval shaped image. If the image happens to be square, then it will actually give you a circle</li>
                    <li>.rounded-rounded-0 - if the image already has some roundness applied to it, you can specify a class of rounded-0 and it's going to take out the roundness of that image if it has round edges</li>
                </ul>
            </li>
            <li><strong>.img-thumbnail</strong> - a slightly rounded image with also a one pixel border around the image with a little bit of space.</li>
        </ul>


        <h1>Aligning images</h1>
        <ul>
            <li><strong>.float-left</strong> or <strong>.float-right</strong> - By default, images are considered to be inline elements, so you can float them.</li>
            <li><strong>.text-center</strong> - centers the image and text</li>
            <li><strong>.mx-auto</strong> - if you define that an image needs to be a block element, then you can use the mx-auto class, and it will center the block, which in this case is the images</li>
        </ul>


        <h1>Figures</h1>
        <ul>
            <li><strong>.figure</strong> on the &lt;figure&gt; tag</li>
            <li><strong>.figure-img</strong> on the images</li>
            <li><strong>.figure-caption</strong> on the text</li>
        </ul>


    </div>
    <!--Close container-->
    <script src="../js/jquery.js"></script>
    <!-- bundle.js contains popper, but not jquery -->
    <script src="../js/bootstrap.bundle.js"></script>
</body>

</html>
