<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../_css/style.css">

    <title>Images</title>
</head>

<body>
    <a href="../index.html">Back to homepage</a>
    <div class="container">




        <section class="container">
            <h1>Responsive images</h1>
            <div class="row">
                <div class="col-6">
                    <p>Make an image response by adding the class .img-fluid.</p>
                    <p>This automatically applies 'max-width: 100%' and 'height: auto' so it scales with the parent.</p>
                    <p>When you shrink the viewport, the image shrinks with it.</p>
                    <p>NOTE: SVG images and IE 10. In Internet Explorer 10, SVG images with .img-fluid are disproportionately sized. To fix this, add width: 100% \9; where necessary. This fix improperly sizes other image formats, so Bootstrap doesn’t apply
                        it automatically.
                    </p>
                </div>

                <div class="col-6">
                    <pre class="example">&lt;img src=".." class="<span class="standout">img-fluid</span>" alt="Responsive image"&gt;</pre>
                </div>
        </section>


        <section class="container">
            <h3>Example</h3>
            <img src="../img/gallery-examples/woman-leaves.jpg" class="img-fluid" alt="Responsive image">
        </section>





        <section class="container">
            <h1>Thumbnails</h1>
            <div class="row">
                <div class="col-6">
                    <p>Add a class of .img-thumbnail to give it a rounded 1px border.</p>
                    <p>The image is also responsive.</p>

                </div>

                <div class="col-6">
                    <pre class="example">&lt;img src=".." class="<span class="standout">img-thumbnail</span>" alt="Responsive image"&gt;</pre>
                </div>
        </section>


        <section class="container">
            <h3>Example</h3>
            <img src="../img/gallery-examples/woman-leaves.jpg" class="img-thumbnail" alt="Responsive image">
        </section>





        <section class="container">
            <h1>Aligning images</h1>
            <p>There are three ways to align images:</p>
            <ul>
                <li>Using a helper <a href="http://getbootstrap.com/docs/4.0/utilities/float/">float class</a></li>
                <li>Using a <a href="https://getbootstrap.com/docs/4.0/utilities/text/#text-alignment">text alignment class</a></li>
                <li>block-level images can use the <a href="https://getbootstrap.com/docs/4.0/utilities/spacing/#horizontal-centering">.mx-auto utility class</a></li>
            </ul>
        </section>



        <section class="container">
            <h2>Floating images</h2>
            <div class="row">
                <div class="col-6">
                    <p>Using .float-left or .float-right to float an image.</p>
                    <p>The image sizes must already be small enough to fit in the section. They will not resize to fit the section automatically.</p>
                </div>

                <div class="col-6">
                    <pre class="example">&lt;img src=".." class="<span class="standout">float-left</span>"&gt;
&lt;img src=".." class="<span class="standout">float-right</span>"&gt;</pre>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>Example</h3>
            <div class="row">
                <div class="col">
                    <img src="../img/gallery-examples/sm-woman-leaves.jpg" class="float-left" alt="Responsive image">
                    <img src="../img/gallery-examples/sm-lake.jpg" class="float-right" alt="Responsive image">
                </div>
            </div>
        </section>


        <section class="container">
            <h2>Using text-alignment</h2>
            <div class="row">
                <div class="col-6">
                    <p>Put the image in a container with a class of .text-center.</p>
                </div>

                <div class="col-6">
                    <pre class="example">&lt;div class="<span class="standout">text-center</span>"&gt;
  &lt;img src=".."&gt;
&lt;/div&gt;</pre>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>Example</h3>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <img src="../img/gallery-examples/sm-woman-leaves.jpg">
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h2>Center block level images</h2>
            <div class="row">
                <div class="col-6">
                    <p>Add both the class of .mx-auto and .d-block (display-block) to center an image.</p>
                </div>

                <div class="col-6">
                    <pre class="example">&lt;img src=".." class="<span class="standout">mx-auto d-block</span>"&gt;</pre>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>Example</h3>
            <div class="row">
                <div class="col">
                    <img src="../img/gallery-examples/sm-woman-leaves.jpg" class="mx-auto d-block">
                </div>
            </div>
        </section>


        <section class="container">
            <h1>Picture (SKIPPED)</h1>
            <div class="row">
                <div class="col-6">
                    <p>If you are using the &lt;picture&gt; element to specify multiple &lt;source&gt; elements for a specific &lt;img&gt;, make sure to add the .img-* classes to the &lt;img&gt; and not to the &lt;picture&gt; tag.</p>
                </div>

                <div class="col-6">
                    <pre class="example">​&lt;picture&gt;
  &lt;source srcset="..." type="image/svg+xml"&gt;
  &lt;img src="..." class="img-fluid img-thumbnail" alt="..."&gt;
&lt;/picture&gt;</pre>
                </div>
            </div>
        </section>






        <section class="container">
            <h2>Figures</h2>
            <div class="row">
                <div class="col">
                    <p>Anytime you need to display a piece of content—like an image with an optional caption, consider using a &lt;figure&gt;.</p>
                    <p> Images in figures have no explicit size, so be sure to add the .img-fluid class to your &lt;img&gt; to make it responsive.</p>
                </div>
            </div>

            <h3>Code example</h3>
            <div class="row">
                <div class="col-6">
                    <p>Wrap the image in a container with a class of &lt;figure&gt;.</p>
                    <p>Give the image tag classes of figure-img, img-fluid, and rounded to style.</p>
                    <p>Under the image, add a &lt;figcaption&gt; tag to add a caption to an image. Give it a class of .figure-caption to style.</p>
                    <p>You can align the text using .text-right on the figcaption tag.</p>
                </div>

                <div class="col-6">
                    <pre class="example">&lt;figure class="<span class="standout">figure</span>"&gt;
  &lt;img src=".." class="<span class="standout">figure-img</span> img-fluid"&gt;
  &lt;figcaption class="<span class="standout">figure-caption</span> text-right"&gt;A caption for the above image.&lt;/figcaption&gt;
&lt;/figure&gt;</pre>
                </div>
            </div>
        </section>


        <section class="container">
            <h4>Example</h4>
            <div class="row">
                <div class="col">
                    <figure class="figure">
                        <img src="../img/gallery-examples/woman-leaves.jpg" class="figure-img img-fluid">
                        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                    </figure>
                </div>
            </div>
        </section>







        <h1>Rounded</h1>

        <strong>.rounded</strong> - Adds a rounded edge to an image. You can also specify which side of the image should be rounded.</p>
        <ul>
            <li>.rounded-top</li>
            <li>.rounded-right</li>
            <li>.rounded-bottom</li>
            <li>.rounded-left</li>
            <li>.rounded-circle - make an oval shaped image. If the image happens to be square, then it will actually give you a circle</li>
            <li>.rounded-rounded-0 - if the image already has some roundness applied to it, you can specify a class of rounded-0 and it's going to take out the roundness of that image if it has round edges</li>
        </ul>

        <h4>rounded-top</h4>

        <div class="row">
            <div class="col">
<p>These don't seem to work.</p>
                <img src="../img/blue-square.svg" class="rounded-top" width="200px;">
            </div>
        </div>
        </section>









        </div>
        <!--Close container-->
        <script src="../js/jquery.js"></script>
        <!-- bundle.js contains popper, but not jquery -->
        <script src="../js/bootstrap.bundle.js"></script>
</body>

</html>
