<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Tables</title>
</head>

<body>
    <a href="../index.html">Back to homepage</a>
    <div class="container">

        <h1>Tables</h1>

        <p>Table classes</p>
        <p>Add .table class to the table tag.</p>
        <p>.table-dark makes the table dark</p>
        <p>.table-striped</p>
        <p>.table-bordered</p>
        <p>.table-hover</p>

        <h3>Colors</h3>
        <p>In head section add .thead-light or .thead-dark.</p>
        <p>.table-(colors) on rows or data tags</p>
        <p>these table contextual classes are designed to be backgrounds on existing rows. So they're generally lighter. </p>
        <ul>
            <li>table-active</li>
            <li>table-primary</li>
            <li>table-secondary</li>
            <li>table-success</li>
            <li>table-danger</li>
            <li>table-warning</li>
            <li>table-info</li>
            <li>table-light</li>
            <li>table-dark</li>
        </ul>
        <p>For darker colors, use any contextual color class</p>
        <ul>
            <li>bg-primary</li>
            <li>bg-success</li>
            <li>bg-danger</li>
            <li>bg-warning</li>
            <li>bg-info</li>
        </ul>

<h3>Size</h3>
<p>Use .table-sm - it's going to make a table that has a little less padding to it. So it'll look a little smaller</p>
<p>.table-responsive-(breakpoint) - so that the table cells scroll at a certain break point.</p>






    </div>
    <!--Close container-->
    <script src="../js/jquery.js"></script>
    <!-- bundle.js contains popper, but not jquery -->
    <script src="../js/bootstrap.bundle.js"></script>
</body>

</html>
